name: Build Mac App

on: [push]

jobs:
  build-macos:
    runs-on: macos-latest
    steps:
    - uses: actions/checkout@v2
    - name: Set up Python
      uses: actions/setup-python@v2
      with:
        python-version: '3.6'  # Specify the Python version you want to use
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install pyinstaller
        pipenv shell
    - name: Build with PyInstaller
      run: |
        pyinstaller gui_test.spec
    - name: Upload artifact
      uses: actions/upload-artifact@v2
      with:
        name: mac-app-bundle
        path: C:/Users/thinkpad/dist/output  # Adjust the path according to your output file name and location
